* {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

body {
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: #252733;
}

button {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: large;
  text-transform: capitalize;
  cursor: pointer;
}

h4 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.4px;
}

.modal-bg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.modal-bg .modal-text {
  background-color: white;
  padding: 2rem;
}

.main-with-aside {
  display: flex;
  min-height: 100vh;
}

.main-with-aside aside {
  background: linear-gradient(90deg, #040F47 0%, #37267A 100%);
  color: white;
  padding: 2rem;
  width: 350px;
  text-align: center;
}

.main-with-aside aside div {
  padding: 2rem;
  background: rgba(159, 162, 180, 0.1);
  border-radius: 20px;
  margin-top: 3rem;
}

.main-with-aside aside p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.45;
  color: #FAFAFA !important;
}

.main-with-aside aside button {
  color: #221D65;
  background-color: white;
  margin: 2rem 0 0;
}

.main-with-aside main {
  padding: 2rem 3rem;
  color: #252733;
  width: 100%;
}

.main-with-aside main .input-div {
  background: #FAFAFA;
  border-radius: 10px;
  padding: 1rem;
  margin: 1.5rem 0;
  width: 30rem;
  display: flex;
}

.main-with-aside main .input-div i {
  color: #00000069;
  margin-right: 1rem;
}

.main-with-aside main .input-div input {
  background-color: inherit;
  width: 100%;
  outline: none;
  border: none;
}

.main-with-aside main table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
}

.main-with-aside main table, .main-with-aside main table td, .main-with-aside main table th {
  border: 1px solid #DFE0EB;
  padding: 1rem;
}

.main-with-aside main table th {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  color: #333333;
}

.main-with-aside main table td {
  height: 55px;
  padding: 0;
}
