  #tensile {
    background: #F7F8FC;
    padding: 5rem;
    .header-div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;
      h4 {
        font-weight: 500;
      }
      div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1.5rem;
        @media (max-width: 500px) {
          grid-template-columns: 1fr;
          width: 100%;
        }
        button {
          padding: 20px 40px;
          background: #29CC97;
          color: white;
          &:nth-of-type(2) {
            background: #F50707;
          }
        }
      }
    }
    table {
      padding: 2rem 1rem;
      border-radius: 8px;
      background-color: white;
      width: 100%;
      min-width: 650px;
      tr {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        display: grid
      }
      thead {
        font-weight: 700;
        tr {
          margin-bottom: 2rem;
        }
      }
      tbody {
        border-radius: 8px;
        background-color: #F9F9F9;
      }
      td {
        height: 50px;
      }
      .empty {
        display: block;
        height: 20rem;
        width: 100%;
        background: #F9F9F9
      }
    }
    .modal-text {
      min-width: 400px;
      h3 {
        margin: 5rem 0;
        text-align: center;
        color: #333333;
        font-weight: 600;
      }
    }
    @media (max-width: 900px) {
      padding: 3.5rem 2rem;
      .header-div {
        flex-direction: column;
        h4 {
          margin-bottom: 2rem;
        }
      }
    }
    @media (max-width: 600px) {
      padding: 3.5rem 1rem;
    }
  }